@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body { 
    background: radial-gradient(circle, #22577a 0%, #38a3a5 50%, #57cc99 100% ); 
    color: #122e42;
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 { 
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h2 { 
    color: #ffffff;
}

 h3 { 
    font-size: 2em;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

h4 { 
    font-size: 1.5em;
}

.weather-container { 
    margin: auto;

    width: 85%;
    max-width: 400px;
}

.weather-temp { 
    font-size: 3em;
}

.weather-results { 
    visibility: hidden;
    padding: 3em;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 6px 12px 45px 1px rgba(18,46,66,0.4);
}

.visible { 
    visibility: visible;
}

.weather-search { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3em;
}

.weather-search input { 
    padding: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    border: none;
    border-radius: 10px;
}

.weather-search button { 
    padding: 1em 2em;
    margin: 1em;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #122e42;
    color: #fff; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.weather-search button:active { 
    transform: scale(.95);
}

.weather-search label { 
    display: none;
}
